<p id="notice"><%= notice %></p>
<form action="https://indieauth.com/auth" method="get">
  <label for="indie_auth_url">Web Address:</label>
  <input id="indie_auth_url" type="text" name="me" placeholder="yourdomain.com" />
  <p><button type="submit">Sign In</button></p>
  <input type="hidden" name="client_id" value="<%= @client_id %>" />
  <input type="hidden" name="redirect_uri" value="<%= @redirect_uri %>" />
</form>
