<%= javascript_pack_tag 'hello_vue' %>
<%= stylesheet_pack_tag 'hello_vue' %>
<div id="user_nav">
<a href="<%= current_user.url %>"><%= current_user.url %></a> | 
<a href="/logout">Logout</a>
</div>
<h1>Employees</h1>
<div id="employees">
</div>

